.table-head{
  //border: 1px solid #f00;
}
.add-modal{
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  width: 600px;
  height: 500px;
  border: 1px solid #ccc;
  margin: auto;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  //display: none;
  .row{
    display: flex;
    margin: 20px 0;
    height: 34px;
    .left{
      flex:1;
      text-align: right;
      padding-right: 20px;
      line-height: 34px;
    }
    .right{
      flex:4;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  }
}
